@media screen and (max-width: 768px) {
  .animated-logo-container {
    align-items: center;
    margin-top: -7.69231px; }
    .navbar-shrink .animated-logo-container {
      margin-top: -5px; }
  div .logo-text {
    margin-left: 36px;
    margin-top: 6px; }
  @keyframes spin1 {
    from {
      transform: rotate3d(0, 1, 1, 0deg); }
    to {
      transform: rotate3d(1, 1, 0, 180deg); } }
  @keyframes spin2 {
    from {
      transform: rotate3d(0, 1, 0, 0deg); }
    to {
      transform: rotate3d(0, 1, 0, 180deg); } }
  @keyframes spin3 {
    0% {
      transform: rotate3d(1, 0, 1, 0deg); }
    50% {
      transform: rotate3d(0, 1, 1, 180deg); }
    100% {
      transform: rotate3d(1, 1, 1, 0deg); } }
  @keyframes spin4 {
    0% {
      transform: rotate3d(1, 1, 0, 0deg); }
    50% {
      transform: rotate3d(1, 0, 1, 180deg); }
    100% {
      transform: rotate3d(0, 1, 1, 0deg); } }
  .circle {
    position: absolute;
    border-style: solid;
    border-color: white;
    border-width: 0.5px;
    animation-iteration-count: infinite;
    animation-timing-function: linear; }
    .circle.one {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      animation-duration: 8s;
      /* 3 seconds */
      animation-name: spin1; }
    .circle.two {
      width: 25.5px;
      height: 25.5px;
      margin-left: 2.25px;
      margin-top: 2.25px;
      border-radius: 50%;
      animation-duration: 3.5s;
      /* 3 seconds */
      animation-name: spin2; }
    .circle.three {
      width: 21px;
      height: 21px;
      margin-left: 4.5px;
      margin-top: 4.5px;
      border-radius: 50%;
      animation-duration: 5s;
      /* 3 seconds */
      animation-name: spin3; }
    .circle.four {
      width: 16.5px;
      height: 16.5px;
      margin-left: 6.75px;
      margin-top: 6.75px;
      border-radius: 50%;
      animation-duration: 2s;
      /* 3 seconds */
      animation-name: spin4; } }

@media screen and (min-width: 768px) {
  .animated-logo-container {
    align-items: center;
    margin-top: -12.82051px; }
    .navbar-shrink .animated-logo-container {
      margin-top: -8.33333px; }
  div .logo-text {
    margin-left: 60px;
    margin-top: 10px; }
  @keyframes spin1 {
    from {
      transform: rotate3d(0, 1, 1, 0deg); }
    to {
      transform: rotate3d(1, 1, 0, 180deg); } }
  @keyframes spin2 {
    from {
      transform: rotate3d(0, 1, 0, 0deg); }
    to {
      transform: rotate3d(0, 1, 0, 180deg); } }
  @keyframes spin3 {
    0% {
      transform: rotate3d(1, 0, 1, 0deg); }
    50% {
      transform: rotate3d(0, 1, 1, 180deg); }
    100% {
      transform: rotate3d(1, 1, 1, 0deg); } }
  @keyframes spin4 {
    0% {
      transform: rotate3d(1, 1, 0, 0deg); }
    50% {
      transform: rotate3d(1, 0, 1, 180deg); }
    100% {
      transform: rotate3d(0, 1, 1, 0deg); } }
  .circle {
    position: absolute;
    border-style: solid;
    border-color: white;
    border-width: 0.5px;
    animation-iteration-count: infinite;
    animation-timing-function: linear; }
    .circle.one {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      animation-duration: 8s;
      /* 3 seconds */
      animation-name: spin1; }
    .circle.two {
      width: 42.5px;
      height: 42.5px;
      margin-left: 3.75px;
      margin-top: 3.75px;
      border-radius: 50%;
      animation-duration: 3.5s;
      /* 3 seconds */
      animation-name: spin2; }
    .circle.three {
      width: 35px;
      height: 35px;
      margin-left: 7.5px;
      margin-top: 7.5px;
      border-radius: 50%;
      animation-duration: 5s;
      /* 3 seconds */
      animation-name: spin3; }
    .circle.four {
      width: 27.5px;
      height: 27.5px;
      margin-left: 11.25px;
      margin-top: 11.25px;
      border-radius: 50%;
      animation-duration: 2s;
      /* 3 seconds */
      animation-name: spin4; } }
